*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    width: auto;
    height: auto;
    padding: 5px;
    justify-content: space-between;
}

#txt_cidade{
    font-size: 30px;
    display: inline-block;
    padding: 5px;
}
.container_btn{
    display: flex;
    justify-content: space-between;
}

#btn_perfil{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: aqua;
    cursor: pointer;
}

#img_perfil{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#btn_direct{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#img_direct{
    width: 40px;
    height: 40px;
}

.config{
    position: absolute;
    right: 0;
    bottom: 0;
}

#btn_config{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#img_config{
    width: 40px;
    height: 40px;
}

.container_escolhas{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: aqua;
    width: 1000px;
    height: 500px;
    z-index: 1;
    border-radius: 16px;
}

#txt_escolha_perfil{
    margin: 10px;
    font-size: 50px;
    width: 800px;
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50% -20%;
    text-align: center;
}

#btn_foto{
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#btn_proximo{
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: brown;
}